.chatBubble {
	font-size: xx-large;
	position:relative;
	padding:15px 30px;
	margin:0;
	color:#fff;
	background:#5a8f00; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#b8db29), to(#5a8f00));
	background:-moz-linear-gradient(#b8db29, #5a8f00);
	background:-o-linear-gradient(#b8db29, #5a8f00);
	background:linear-gradient(#b8db29, #5a8f00);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}


.chatBubble:after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 50px;
	border-width: 0 0 30px 50px;
	border-style: solid;
	border-color: transparent #5a8f00;
	display: block;
	width: 0;
}

.headerNavContainer {
border: solid 1px red;
text-align: center;
}
a.headerNav:link {
	color: red;
}
a.headerNav:hover {
	color: yellow;
}
a.headerNav:active {
	color: red;
}
a.headerNav:visited {
	color: red;
}
#header {
margin-top: 20px;
}

#content {
	padding-top: 50px;
}
.gigantic {
	font-family: Comic Sans;
	font-size: 72px;
}

/** im so funny **/
.ripped {
	background-color: grey;
}

.externalLink {
	
}