/* Colors:
Inspired by The Royal Tennenbaums
Background: #FBDAA8;
First Accent: #F2CCB7;  //  gradient
Second Accent: #F4ADAA; //  gradient
Text: #7A6961;
Links: #998532; //unused

 */

.chatBubble {
	color: #7A6961;
	background:#F2CCB7; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#F4ADAA), to(#F2CCB7));
	background:-moz-linear-gradient(#F4ADAA, #F2CCB7);
	background:-o-linear-gradient(#F4ADAA, #F2CCB7);
	background:linear-gradient(#F4ADAA, #F2CCB7);
}


.chatBubble:after {
	border-color: transparent #F2CCB7;
}

.color2 {
    color: #7A6961;
}
.color3 {
    color: #7DA58A;
}

.headerNavContainer {
    border: solid 1px #769F8C;
}
a.headerNav:link {
	color: #769F8C;
}
a.headerNav:hover {
	color: #F4ADAA;
}
a.headerNav:active {
	color: #769F8C;
}
a.headerNav:visited {
	color: #769F8C;
}

/** im so funny **/
.ripped {
	background-color: #FBDAA8;
}
