/* Colors:
Inspired by The Darjeeling Limited
Light Blue: #5FACC8;
Dark Orange: #E47820;
Light Orange: #E29E23;
Forest Green: #098A74;
Red: #E3072A;

 */

.chatBubble {
	font-size: xx-large;
	position:relative;
	padding:15px 30px;
	margin:0;
	color:#5FACC8;
	background:#E47820; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#E29E23), to(#E47820));
	background:-moz-linear-gradient(#E29E23, #E47820);
	background:-o-linear-gradient(#E29E23, #E47820);
	background:linear-gradient(#E29E23, #E47820);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	width: 50%;
}


.chatBubble:after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 50px;
	border-width: 0 0 30px 50px;
	border-style: solid;
	border-color: transparent #E47820;
	display: block;
	width: 0;
}

.color2 {
    color: #098A74;
}

.headerNavContainer {
border: solid 1px #098A74;
text-align: center;
}
a.headerNav:link {
	color: #098A74;
}
a.headerNav:hover {
	color: #E29E23;
}
a.headerNav:active {
	color: #098A74;
}
a.headerNav:visited {
	color: #098A74;
}
#header {
margin-top: 20px;
}

#content {
	padding-top: 50px;
}
.gigantic {
	font-family: Comic Sans;
	font-size: 72px;
}

/** im so funny **/
.ripped {
	background-color: #5FACC8;
}

.externalLink {
	
}