/* Colors:
Inspired by The Darjeeling Limited
Background: #466455;
First Accent: #FAD073;  //  gradient
Second Accent: #C4B09E; //  gradient
Text: #D4DCDD;
Red: #E3072A; //unused

 */

@font-face {
    font-family: Arcade;
    src: url("/fonts/Arcade.ttf");
    }
.colorPicker {

    height: 15px;
    width: 15px;
    margin-top: 17.5px;

}

.style1 {
    background-color: #5FACC8;
}
.style2 {
    background-color: #BF7943;
}
.style3 {
    background-color: #466455;
}
.style4 {
    background-color: #FBDAA8;
}
.style5 {
    background-color: #F95E6A;
}

.chatBubble {
	font-size: xx-large;
	position:relative;
	padding:15px 30px;
	margin:0;
	color:#D4DCDD;
	background:#FAD073; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#C4B09E), to(#FAD073));
	background:-moz-linear-gradient(#C4B09E, #FAD073);
	background:-o-linear-gradient(#C4B09E, #FAD073);
	background:linear-gradient(#C4B09E, #FAD073);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	width: 50%;
}


.chatBubble:after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 50px;
	border-width: 0 0 30px 50px;
	border-style: solid;
	border-color: transparent #FAD073;
	display: block;
	width: 0;
}

.color2 {
    color: #D4DCDD;
	font-weight: bold;
}

.headerNavContainer {
border: solid 1px #D4DCDD;
text-align: center;
}
a.headerNav:link {
	color: #D4DCDD;
}
a.headerNav:hover {
	color: #C4B09E;
}
a.headerNav:active {
	color: #D4DCDD;
}
a.headerNav:visited {
	color: #D4DCDD;
}
#header {
margin-top: 20px;
}

#content {
	padding-top: 50px;
}
.gigantic {
	font-family: Comic Sans;
	font-size: 72px;
}

/** im so funny **/
.ripped {
	background-color: #466455;
}

.externalLink {
	
}
