/* Colors:
Inspired by The Darjeeling Limited
Background: #466455;
First Accent: #FAD073;  //  gradient
Second Accent: #C4B09E; //  gradient
Text: #D4DCDD;
Red: #E3072A; //unused

 */

.chatBubble {
	color:#D4DCDD;
	background:#FAD073; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#C4B09E), to(#FAD073));
	background:-moz-linear-gradient(#C4B09E, #FAD073);
	background:-o-linear-gradient(#C4B09E, #FAD073);
	background:linear-gradient(#C4B09E, #FAD073);
}

.chatBubble:after {
	border-color: transparent #FAD073;
}

.color2 {
    color: #D4DCDD;
}
.color3 {
    color: #FAD073;
}


.headerNavContainer {
    border: solid 1px #D4DCDD;
}
a.headerNav:link {
	color: #D4DCDD;
}
a.headerNav:hover {
	color: #C4B09E;
}
a.headerNav:active {
	color: #D4DCDD;
}
a.headerNav:visited {
	color: #D4DCDD;
}

/** im so funny **/
.ripped {
	background-color: #466455;
}
