/* Colors:
Inspired by The Life Aquatic with Steve Zissou
Background: #D39F3A;
First Accent: #D39F3A;  //  gradient
Second Accent: #286278; //  gradient
Text: #C31517;

 */

.chatBubble {
	color: #C31517;
	background:#D36E40; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#D39F3A), to(#286278));
	background:-moz-linear-gradient(#D39F3A, #286278);
	background:-o-linear-gradient(#D39F3A, #286278);
	background:linear-gradient(#D39F3A, #286278);
}


.chatBubble:after {
	border-color: transparent #286278;
}

.color2 {
    color: #C31517;
}
.color3 {
    color: #286278;
}

.headerNavContainer {
    border: solid 1px #591618;
}
a.headerNav:link {
	color: #591618;
}
a.headerNav:hover {
	color: #D36E40;
}
a.headerNav:active {
	color: #591618;
}
a.headerNav:visited {
	color: #591618;
}

/** im so funny **/
.ripped {
	background-color: #D39F3A;
}
